* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
  background: #0b0220;
  color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
}

.header h1 {
    font-size: 60px;
}

.header p {
    margin-top: 20px;
    max-width: 500px;
    color: #ccc;
}

.header img {
    width: 300px;
}

/* curva */
.wave {
    height: 100px;
    background: white;
    border-top-left-radius: 50% 100px;
    border-top-right-radius: 50% 100px;
}